@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import "./variables.css";

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.var-subset.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
}

::-webkit-scrollbar {
    width: 12px;
    height: 100%;
}

::-webkit-scrollbar-track {
    background: var(--base1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--trans1);
    border: 3px solid var(--base1);
    border-radius: 10px;
}

.dark::-webkit-scrollbar-track {
    background: var(--base1);
}

.dark::-webkit-scrollbar-thumb {
    background-color: var(--trans3);
    border: 3px solid var(--base1);
    border-radius: 10px;
}

html {
    overflow-y: overlay;
    height: -webkit-fill-available;
    height: stretch;
    height: fill-available;
    font-family: Inter, system-ui, sans-serif;
}

body {
    background-color: var(--base1);
    color: var(--text);

    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-avaiable;
    min-height: stretch;
    min-height: fill-available;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    word-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 0 0 10px 0;
}

.section-heading {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    white-space: nowrap;
    margin: 10px 0 20px;
}

.section-heading::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--muted);
}

.highlight {
    color: var(--color1);
}

h2 {
    color: var(--color1);
}

h3 {
    color: var(--color2);
}

h3 span {
    color: var(--muted);
}

p {
    line-height: 1.75em;
    margin: 1rem 0;
    color: var(--muted);
}

::selection {
    background-color: var(--trans1);
    color: var(--text);
}

a {
    color: var(--color1);
}

a:hover {
    color: var(--text);
}

@media screen and (max-width: 800px) {
    body {
        --horizontal-margin: 5%;
    }
}