---
import Layout from "../layouts/Layout.astro";
import TechStack from "../components/TechStack.astro";
---

<Layout title="About Me" description="Learn about me">
  <h1>About Me</h1>
  <p>
    Hi there! I'm <span>Vi</span>. I'm a Software Developer with a strong
    passion for building user friendly web applications, intuitive command line
    tools, and exploring the world of tech.
    <br />
     In my spare time, I enjoy creating digital art and graphic design,
    listening to metal and indie music and watching kdramas and anime. I'm also
    an avid reader of psychology, fascinated by how our minds work.
  </p>

  <h2>Tech Stack</h2>
  <TechStack />
</Layout>
