---
import CenterBody from "../components/CenterBody.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vi's Site" description="My portfolio website">
  <CenterBody>
    <header>
      <div>
        <h2>hello world, I am</h2>
        <span class="heading-text">
          <h1>Your Name</h1>
          <span class="pronouns">(she/her)</span>
        </span>
      </div>

      <img
        src="https://i.imgur.com/dzzmtzP.png"
        width={100}
        height={100}
        alt="Avatar"
      />
    </header>

    <section>
      <h3>
        Software Developer
        <span>
          A self-taught developer with an interest in Cognitive Science.
        </span>
      </h3>

      <p>
        I'm a <span class="highlight">software developer</span> with a passion for developing full-stack <span class="highlight">web experiences</span>, <span class="highlight">command-line tools</span>, and <span class="highlight">internal solutions</span> that elevate efficiency and productivity.
      </p>
      
      <div class="links">
        <a
          class="boxes"
          href="mailto:mail@gmail.com"
          target="_blank"
          rel="noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 256 256"
            style={{ verticalAlign: "middle" }}
          >
            <path
              fill="currentColor"
              d="M224,44H32A12,12,0,0,0,20,56V192a20,20,0,0,0,20,20H216a20,20,0,0,0,20-20V56A12,12,0,0,0,224,44ZM193.15,68,128,127.72,62.85,68ZM44,188V83.28l75.89,69.57a12,12,0,0,0,16.22,0L212,83.28V188Z"
            >
            </path>
          </svg>
        </a>
        <a
          href="https://linkedin.com/in/username"
          target="_blank"
          rel="noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 256 256"
            style={{ verticalAlign: "middle" }}
          >
            <path
              fill="currentColor"
              d="M216,20H40A20,20,0,0,0,20,40V216a20,20,0,0,0,20,20H216a20,20,0,0,0,20-20V40A20,20,0,0,0,216,20Zm-4,192H44V44H212ZM112,176V124a12,12,0,0,1,21.43-7.41A40,40,0,0,1,192,152v24a12,12,0,0,1-24,0V152a16,16,0,0,0-32,0v24a12,12,0,0,1-24,0ZM96,124v52a12,12,0,0,1-24,0V124a12,12,0,0,1,24,0ZM68,80A16,16,0,1,1,84,96,16,16,0,0,1,68,80Z"
            >
            </path>
          </svg>
        </a>
        <a href="https://github.com/enna-ai" target="_blank" rel="noreferrer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 256 256"
            style={{ verticalAlign: "middle" }}
          >
            <path
              fill="currentColor"
              d="M212.62,75.17A63.7,63.7,0,0,0,206.39,26,12,12,0,0,0,196,20a63.71,63.71,0,0,0-50,24H126A63.71,63.71,0,0,0,76,20a12,12,0,0,0-10.39,6,63.7,63.7,0,0,0-6.23,49.17A61.5,61.5,0,0,0,52,104v8a60.1,60.1,0,0,0,45.76,58.28A43.66,43.66,0,0,0,92,192v4H76a20,20,0,0,1-20-20,44.05,44.05,0,0,0-44-44,12,12,0,0,0,0,24,20,20,0,0,1,20,20,44.05,44.05,0,0,0,44,44H92v12a12,12,0,0,0,24,0V192a20,20,0,0,1,40,0v40a12,12,0,0,0,24,0V192a43.66,43.66,0,0,0-5.76-21.72A60.1,60.1,0,0,0,220,112v-8A61.5,61.5,0,0,0,212.62,75.17ZM196,112a36,36,0,0,1-36,36H112a36,36,0,0,1-36-36v-8a37.87,37.87,0,0,1,6.13-20.12,11.65,11.65,0,0,0,1.58-11.49,39.9,39.9,0,0,1-.4-27.72,39.87,39.87,0,0,1,26.41,17.8A12,12,0,0,0,119.82,68h32.35a12,12,0,0,0,10.11-5.53,39.84,39.84,0,0,1,26.41-17.8,39.9,39.9,0,0,1-.4,27.72,12,12,0,0,0,1.61,11.53A37.85,37.85,0,0,1,196,104Z"
            >
            </path>
          </svg>
        </a>
        <a
          href="https://instagram.com/yourusername"
          target="_blank"
          rel="noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 256 256"
            style={{ verticalAlign: "middle" }}
          >
            <path
              fill="currentColor"
              d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,72a24,24,0,1,1,24-24A24,24,0,0,1,128,152ZM176,20H80A60.07,60.07,0,0,0,20,80v96a60.07,60.07,0,0,0,60,60h96a60.07,60.07,0,0,0,60-60V80A60.07,60.07,0,0,0,176,20Zm36,156a36,36,0,0,1-36,36H80a36,36,0,0,1-36-36V80A36,36,0,0,1,80,44h96a36,36,0,0,1,36,36ZM196,76a16,16,0,1,1-16-16A16,16,0,0,1,196,76Z"
            >
            </path>
          </svg>
        </a>
        <a href="https://blog.user.com" target="_blank" rel="noreferrer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 256 256"
            style={{ verticalAlign: "middle" }}
          >
            <path
              fill="currentColor"
              d="M230.14,70.54,185.46,25.85a20,20,0,0,0-28.29,0L33.86,149.17A19.85,19.85,0,0,0,28,163.31V208a20,20,0,0,0,20,20H92.69a19.86,19.86,0,0,0,14.14-5.86L230.14,98.82a20,20,0,0,0,0-28.28ZM91,204H52V165l84-84,39,39ZM192,103,153,64l18.34-18.34,39,39Z"
            >
            </path>
          </svg>
        </a>
      </div>
    </section>
  </CenterBody>
</Layout>

<style lang="scss">
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 4em;
  }

  h1 {
    font-size: clamp(60px, 6vw, 70px);
    font-weight: 500;

    &:before {
      content: "01";
      height: 175px;
      font-size: 175px;
      font-family: var(--font-sans);
      font-weight: 700;
      z-index: -1;
      user-select: none;
      transform: translateX(-55%);
      -webkit-text-stroke: 2px var(--muted);
      color: transparent;
      opacity: 6%;
      letter-spacing: -0.1em;
      position: absolute;
    }
  }

  .pronouns {
    color: var(--muted);
  }

  h2 {
    font-size: clamp(16px, 3vw, 16px);
    font-weight: 400;
    font-family: var(--font-mono);
  }

  h3 {
    font-size: clamp(20px, 5vw, 30px);
    padding-top: 1rem;
  }

  .heading-text {
    display: flex;
    flex-direction: row;

    .pronouns {
      padding-left: 5px;
      padding-top: 10px;
      font-size: clamp(16px, 3vw, 20px);
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;

    a {
      margin: 6px;
      padding: 8px;
      border-radius: var(--radius);
      text-decoration: none;
      background-color: var(--base2);

      &:hover {
        background-color: var(--base2-bright);
      }
    }
  }

  section {
    margin-bottom: 2.5em;
  }

  a:not(:hover, :focus) {
    text-decoration: none;
  }

  img {
    display: inline-flex;
    overflow: hidden;
    height: 100px;
    width: 100px;
    animation: float 6s ease-in-out infinite;
    animation-play-state: running;

    @media (max-width: 768px) {
      display: none;
    }
  }

  @keyframes float {
    0% {
      transform: translateY(7px);
    }

    50% {
      transform: translateY(-7px);
    }

    100% {
      transform: translateY(7px);
    }
  }
</style>