---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
---

<Layout title="My Projects" description="My software projects">
    <h1>My Projects</h1>
    <Project />
</Layout>