---
import Socials from "./Socials.astro";
---

<footer>
    <Socials />

    <p>
        &copy; Built and designed by <a
            href="https://github.com/enna-ai"
            target="_blank"
            rel="noreferrer"
            class="name"
        >
            <span>@vi</span> &#62;
        </a>
    </p>
</footer>