<footer>
    <p>&copy; 2024 Your Name</p>
    <div>
        <a
            href="https://github.com/enna-ai/v"
            target="_blank"
            rel="noopener noreferrer"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 256 256"
                style={{ verticalAlign: "middle" }}
            >
                <path
                    fill="currentColor"
                    d="M228,64a36,36,0,1,0-48,33.94V104a12,12,0,0,1-12,12H88a12,12,0,0,1-12-12V97.94a36,36,0,1,0-24,0V104a36,36,0,0,0,36,36h28v18.06a36,36,0,1,0,24,0V140h28a36,36,0,0,0,36-36V97.94A36.07,36.07,0,0,0,228,64ZM64,52A12,12,0,1,1,52,64,12,12,0,0,1,64,52Zm64,152a12,12,0,1,1,12-12A12,12,0,0,1,128,204ZM192,76a12,12,0,1,1,12-12A12,12,0,0,1,192,76Z"
                >
                </path>
            </svg> Source
        </a>
        <a
            href="/rss.xml"
            title="RSS"
            target="_blank"
            rel="noopener noreferrer"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 256 256"
                style={{ verticalAlign: "middle" }}
            >
                <path
                    fill="currentColor"
                    d="M101.74,154.26A75.53,75.53,0,0,1,124,208a12,12,0,0,1-24,0,52,52,0,0,0-52-52,12,12,0,0,1,0-24A75.51,75.51,0,0,1,101.74,154.26ZM48,84a12,12,0,0,0,0,24A100,100,0,0,1,148,208a12,12,0,0,0,24,0A124,124,0,0,0,48,84Zm121.62,2.38A170.85,170.85,0,0,0,48,36a12,12,0,0,0,0,24,147,147,0,0,1,104.65,43.35A147,147,0,0,1,196,208a12,12,0,0,0,24,0A170.85,170.85,0,0,0,169.62,86.38ZM52,188a16,16,0,1,0,16,16A16,16,0,0,0,52,188Z"
                ></path>
            </svg> RSS
        </a>
    </div>
</footer>

<style lang="scss">
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        font-size: var(--sm);
        padding: 0
            min(
                var(--margin, var(--horizontal-margin)),
                var(--horizontal-margin)
            );

        div {
            display: flex;
            flex-direction: row;
            gap: 12px;

            a {
                text-decoration: none;
                cursor: pointer;
                font-size: var(--sm);
            }
        }
    }
</style>
