---
export interface Props {
  title: string;
}

const routes = [
  { href: "/", path: "home" },
  { href: "/about", path: "about" },
  { href: "/projects", path: "projects" }
];
---

<nav>
  <div id="btns">
    <ul>
      {
        routes.map((route) => {
          return (
            <li>
              <a href={route.href}>{route.path}</a>  
            </li>
          )
        })
      }
    </ul>
  </div>
  <div id="gif">
    <img
      src="https://i.pinimg.com/originals/ed/98/a0/ed98a01d1e5f3edae97a7b30fb950d0c.gif"
      width="40"
      height="40"
    />
  </div>
</nav>

<style lang="scss">
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }

  a {
    text-decoration: none;
    text-align: center;
    transition: 0.15s ease;
    transition-property: color, text-decoration;
    color: var(--accent);
  }
  a:not(#title) {
    padding: 0.5em;
    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      outline: none;
      color: var(--color);
    }
  }

  #btns {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  ul {
    float: right;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
  }

  li {
    float: left;
  }

  #gif {
    display: inline-block;
    position: absolute;
    width: 35px;
    height: 35px;
    right: 2rem;
    top: 1.2rem;
    image-rendering: pixelated;
  }

  @media only screen and (max-width: 600px) {
    nav {
      position: relative;
      flex-direction: column;
    }

    nav :global(button) {
      position: absolute !important;
      top: 2rem !important;
      right: 2rem !important;
    }

    #gif {
      left: 2rem;
    }
  }
</style>